#log {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: rgba(255, 255, 255, 0.5);
    -fx-border-radius: 4px;
    -fx-min-height: 192px;
    -fx-padding: 10px;
    -fx-pref-height: 192px;
}

#log .warning {
    -fx-fill: yellow;
}

#log .error {
    -fx-fill: ff4040;
}

#log .info {
    -fx-fill: white;
}

#log .success {
    -fx-fill: #20b020;
}

#log .viewport {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
